<% include ../partials/header %>

<main>
	<div class="form">
		<h1 class="form__title">Edit <%= movie.title %></h1>
		<div class="form__body">
			<form action="/movies/<%= movie._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
				<div class="form__item">
					<label class="form__label" for="title">Title</label>
					<input class="form__input" type="text" name="title" id="title" value="<%= movie.title %>" required />
				</div>
				<div class="form__item">
					<label class="form__label" for="description">Description</label>
					<textarea class="form__input" rows="8" cols="30" type="text" name="description" id="description" required>
						<%= movie.description %>
					</textarea>
				</div>
				<div class="form__item">
					<label class="form__label" for="releaseYear">Release Year</label>
					<input class="form__input" type="number" min="1900" max="2100" name="releaseYear" id="releaseYear" value="<%= movie.releaseYear %>" required />
				</div>
				<div class="form__item">
					<label class="form__label" for="poster">Poster</label>
					<input class="form__input" type="file" name="poster" id="poster" />
				</div>
				<div class="form__item">
					<button class="btn btn--black">Update</button>
				</div>
			</form>
			<a class="btn btn--black" href="/movies/<%= movie._id %>">Go Back</a>
		</div>
	</div>
</main>

<% include ../partials/footer %>