<% include ../partials/header %>

<main>
	<div class="item">
		<div>
			<img class="item__poster" src="data:<%= movie.poster.mimeType %>;base64,<%= movie.poster.data.toString('base64') %>" />
		</div>
		<div class="item__content">
			<div class="item__title">
				<h1><%= movie.title %></h1>
			</div>
			<div class="item__body">
				<h3 class="item__heading">Overview</h3>
				<p class="item__description"><%= movie.description %></p>
				<p class="item__author">
					Submitted By:
					<a class="item__username" href="/users/<%= movie.author.id %>">
						<%= movie.author.username %>
					</a>,
					<%= moment(movie.createdAt).fromNow() %>
				</p>
			</div>
			<% if (currentUser && movie.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
				<div class="item__link">
					<a class="btn btn--white" href="/movies/<%= movie._id %>/edit">Edit</a>
				</div>
				<form class="item__link" action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
					<button class="btn btn--white">Delete</button>
				</form>
			<% } %>
		</div>
	</div>

	<div class="comment">
		<a class="btn btn--white btn--comment" href="/movies/<%= movie._id %>/comments/new">Add New Comment</a>
		<% movie.comments.forEach(comment => { %>
			<div class="comment__content">
				<a class="comment__user" href="/users/<%= comment.author.id %>">
					<%= comment.author.username %>
				</a>
				<span class="comment__time">
					<%= moment(comment.createdAt).fromNow() %>
				</span>
				<div>
					<p class="comment__text">
						<%= comment.text %>
					</p>
					<% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
						<div>
							<a class="comment__btn btn btn--white" href="/movies/<%= movie._id %>/comments/<%= comment._id %>/edit">
								Edit Comment
							</a>
							<form class="comment__form" action="/movies/<%= movie._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
								<button class="comment__btn btn btn--black">Delete Comment</button>
							</form>
						</div>
					<% } %>
				</div>
			</div>
		<% }) %>
	</div>
</main>

<% include ../partials/footer %>